.list {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    width: 100%;
}

.clients {
    flex-direction: row;
    flex-wrap: wrap;
}